//Importation mixin et variables 
@import "../utils/mixin-media";
@import "../utils/variables";

//Style pour le pied de page du site
.footer {
    border: 2px black solid;
    width: 100%;
    min-width: 300px;
    height: 225px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    &__image {
        width: 130px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    &__text {
        color: white;
        font-size: 24px;
    }
}

//Style responsive pour le pied de page
@include responsive() {
    .footer {
        height: 200px;
        &__image {
            width: 120px;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 12px;
        }
    }
}
