//Importation mixin et variables 
@import "../../utils/mixin-media";
@import "../../utils/variables";

//Style pour les éléments présents sous l'image de la page A propos
.dwelling-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  margin-bottom: 120px;
}

.dwelling {
  &-container-rod {margin-top: 40px;
    width: 47%;
    min-width: 47%;
    }
  &__title-container {
      background-color: $color-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      height: 50px;
  }
  &__title {
      color: white;
      margin-left: 20px;
      font-weight: 400;
  }
  &__title-button {
      color: white;
      margin-right: 30px;
  }
  &__texte {
      background-color: #f6f6f6;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 24px;
      border-radius: 10px;
      padding: 20px;
      color: $color-primary;
      line-height: 1.5em;
  }
}

//Style responsive pour les éléments de la page A propos
@include responsive() {
  .dwelling {
      &-container-rod{
          width: 100%;
          margin-top: 20px;
          margin-bottom: 5px;
        }
      &__title-container {
          height: 35px;
          border-radius: 5px;
      }
      &__title {
          font-size: 15px;
          margin-left: 15px;
      }
      &__texte {
          font-size: 15px;
      }
      &__title-button {
          width: 15px;
          margin-right: 20px;
          border-radius: 5px;
      }
  }
  .dwelling-info-container {
      margin-bottom: 30px;
  }
}